GOOGLE_CLOUD_PROJECT=solution-challenge-2026-mohit
GOOGLE_APPLICATION_CREDENTIALS=D:\solution-challenge-2026\backend\credentials.json
WHATSAPP_VERIFY_TOKEN=Mohit@India
WHATSAPP_ACCESS_TOKEN=EAAQvPhtDoY0BRcrNcBkd7hojM7M9ULF4D1jbtZC9n1GUdlZBAGZAGvR4YIuPeamr6OhLERPVM1ODKkgxGxBzJE18qILhHI8K1PA4XyJBS0zY6ZCDGZA6r3xnX4M6VS8w6cXnhZAu6RToA5D0b5Ai2ZAFRG8qxuOdaP3EsltsIZCPBZATx9ylsJFZCDbc45I5OMdgmcNKKotVJS4kZB4rdFkMrYviSWhPx6lADOkaliOrtvM9Nd5IUhAh9ju5y1EfhG5mXDAdfimzaEW8G2kW9B5ZCPM8IgZDZD
WHATSAPP_PHONE_NUMBER_ID=1097820256744761
PORT=8080